
<ion-content>
  <section class="sections">
    <ion-button expand="block" [routerLink]="['/chest']">Göğüs</ion-button>
  </section>
  <section class="sections">
    <ion-button expand="block" [routerLink]="['/arm']">Kol</ion-button>
  </section>
  <section class="sections">
    <ion-button expand="block" [routerLink]="['/back']">Sırt</ion-button>
  </section>
  <section class="sections">
    <ion-button expand="block" [routerLink]="['/shoulder']">Omuz</ion-button>
  </section>
  <section class="sections">
    <ion-button expand="block" [routerLink]="['/leg']">Bacak</ion-button>
  </section>
  <section class="sections">
    <ion-button expand="block" [routerLink]="['/abdominal']">Karın</ion-button>
  </section>
</ion-content>
